<?xml version="1.0"?>
<launch>
   
    <node pkg="mono_vo_ros" type="twist_data.py" name="twist_data" />

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    	<rosparam command="load" file="$(find mono_vo_ros)/params/ekf_template.yaml" />
    </node>

    <node pkg="mono_vo_ros" type="pose_data.py" name="pose_data" />

</launch>
